asgiref==3.11.1
bcrypt==5.0.0
cffi==2.0.0
channels==4.3.2
cnlunar==0.2.4
cryptography==46.0.7
daphne==4.2.1
defusedxml==0.7.1
Django==6.0.4
fonttools==4.62.1
fpdf2==2.8.7
gunicorn==25.3.0
hijridate==2.3.0
holidays==0.94
invoke==3.0.3
packaging==26.0
paramiko==4.0.0
pillow==12.2.0
playwright==1.58.0
pycparser==3.0
pyluach==2.3.0
pymysql==1.1.2
PyNaCl==1.6.2
psycopg[binary]==3.3.3
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
